.container {
  width: 100%;
  padding: 50px 20px;
  
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  max-width: 800px;
  text-align: center;
  line-height: 1.6;
  font-size: 20px;
  opacity: 0.9;
  padding: 20px;
  border-radius: 12px;
  background: #0b0b0b;
  border: 1px solid #222;
  margin-bottom: 30px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  color: gold;
  opacity: 0.85;
}

.mid {
  max-width: 800px;
  text-align: center;
  line-height: 1.6;
  font-size: 20px;
  opacity: 0.9;
  padding: 20px;
  border-radius: 12px;
  background: #0b0b0b;
  border: 1px solid #222;
}

.mid p {
  margin-bottom: 15px;
}

.mid p:last-child {
  margin-bottom: 0;
}
.one{
  color: yellow;
}
.two{
  color: rgb(68, 68, 219);
}
.three{
  color: red;
}
.four{
  color: green;
}