.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background: #0b0b0b;
  color: white;
  border-bottom: 1px solid #222;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}



.logo {
  display: flex;
  
  align-items: center;
}
.pic{
  border-radius: 40px;
}
.buttons {
  display: flex;
  gap: 20px;
}

.buttons button {
  padding: 10px 18px;
  background: #2a2a2a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 16px;
}


.buttons button:hover {
  background: #ffffff;
  color: #000000;
  transform: translateY(-2px);
}

