.wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Background goes behind everything */
.bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  
  
}

/* content grid container */
.content {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 per row */
  gap: 25px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}



/* Responsive */
@media (max-width: 900px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
